name: Go Deployment CI

on:
  push:
    branches:
      - master

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Generate Unique Tag
        id: generate_tag
        run: echo "::set-output name=tag::$(date -u +'%Y%m%d-%H%M%S')"

      - name: ls what is here
        run: ls -la
        
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          file: go_webapp/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/go-webapp:latest
            ${{ secrets.DOCKER_USERNAME }}/go-webapp:${{ steps.generate_tag.outputs.tag }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
  
  update-manifests:
    name: Update the manifests for ArgoCD to sync.
    runs-on: ubuntu-latest
    continue-on-error: false
    env: 
      CI_COMMIT_MESSAGE: "Continuous Integration: Manifests generated and updated."
      CI_COMMIT_AUTHOR: Github Workflows
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          sudo mv kustomize /usr/local/bin

      - name: Generate and update manifests
        run: kustomize build gitops_kubernetes_manifests/overlays/development > gitops_kubernetes_manifests/argo_destination/manifests.yaml

      - name: Git setup, add, commit, and push
        run: |
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email "${{ secrets.GIT_EMAIL }}"
          git add gitops_kubernetes_manifests/argo_destination/manifests.yaml
          git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
          git push

  test-built-image:
    name: Test the generated kubernetes manifests
    runs-on: ubuntu-latest
    needs: update-manifests
    continue-on-error: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Datree
        run: curl https://get.datree.io | /bin/bash
        
      - name: Run Datree's policy check
        run: datree test gitops_kubernetes_manifests/argo_destination/manifests.yaml